.pie-container {
    display: flex;
    /* div será un contenedor flex */
    flex-direction: row;
    align-items: stretch;
    background-color: black;
    height: 350px;
}

.pie-container>div {
    /* selectores avanzados */
    color: rgb(209, 209, 209);
    /*align-self: stretch;
    align-content: stretch;*/
    /*flex-basis: 20vwpx; Podemos usar content, px, %, em, vw, etc */
    margin: 0, 50px;
    padding: 10px;
    font-size: 25px;
    width: 120px;
}

h3 {
    text-align: center;
}

p {
    text-align: left;
    margin: 50px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 90%;
    margin: 5px;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}